@tailwind base;
@tailwind components;
@tailwind utilities;

.stroked {
  -webkit-text-stroke: 0.0125em rgba(0, 0, 0, 1);
  text-shadow: 0.015em 0.015em 0 rgba(0, 0, 0, 1),
    0.025em 0.025em 0 rgba(0, 0, 0, 1), 0.035em 0.035em 0 rgba(0, 0, 0, 1),
    0.045em 0.045em 0 rgba(0, 0, 0, 1), 0.055em 0.055em 0 rgba(0, 0, 0, 1),
    0.065em 0.065em 0 rgba(0, 0, 0, 1);
}

.stroked-ph {
  -webkit-text-stroke: 0.0125em rgba(0, 0, 0, 1);
  text-shadow: 0.015em 0.015em 0 rgba(0, 0, 0, 1),
    0.025em 0.025em 0 rgba(0, 0, 0, 1), 0.035em 0.035em 0 rgba(0, 0, 0, 1),
    0.045em 0.045em 0 rgba(0, 0, 255, 1), 0.055em 0.055em 0 rgba(255, 255, 0, 1),
    0.065em 0.065em 0 rgba(255, 0, 0, 1);
}

.stroked-solana {
  -webkit-text-stroke: 0.0125em rgba(0, 0, 0, 1);
  text-shadow: 0.015em 0.015em 0 rgba(0, 0, 0, 1),
    0.025em 0.025em 0 rgba(0, 0, 0, 1), 0.035em 0.035em 0 rgba(0, 0, 0, 1),
    0.045em 0.045em 0 rgba(68, 178, 203, 1),
    0.055em 0.055em 0 rgba(25, 249, 156, 1),
    0.065em 0.065em 0 rgba(153, 69, 255, 1);
}

.noscrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.noscrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.noscrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(90, 90, 90, 0.2);
}

.noscrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(90, 90, 90, 0.5);
}
